* {
    margin: 0;
    padding: 0;
}

header {
    background:#000 url('../images/itachi.png')no-repeat center center;
    background-size: cover;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header  div.header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: auto;
    border: 5px solid white;
    min-width: 240px;
    width: 55%;
    max-width: 1000px;
    color: #ffff;
    font-size: 1.4rem;
}

span, strong {
    color: #FF0000;
}

@media screen and (max-width: 600px) {
    header div.header {
        width: 85%;
        font-size: 0.9rem;
    }
}