section {
    background: #000;
    color: #fff;
}

section.section-one {
    padding: 30px 0;
}

section.section-two {
    padding-top: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container div {
    width: 40%;
    margin: 30px auto;
}

.container > div p {
    font-size: 1rem;
}

.container > div h3 {
    font-size: 1.4rem;
    color: #FF0000;
}

.container > div h2 {
    font-size: 2rem;
}

.container > div h2,p,h3 {
    margin: 10px 0;
}

.container > div img.itachi-sharingan {
    border-radius: 10px;
}

.container img {
    max-width: 100%;
}

.section-two .container div.section-nuvem, p.mangekyou-sharingan {
    text-align: center;
}

.section-two .container div button {
    padding: 10px;
    background: transparent;
    color: #fff;
    border: 2px solid #FF0000;
    transition: 0.4s;
    margin-top: 40px;
}

.section-two .container div button:hover {
    color: #FF0000;
    border: 2px solid #fff;
}

.section-two .container div button {
    text-align: center;
}

.section-two .container div.section-nuvem h2{
    margin-top: 35px;
}


@media screen and (max-width: 700px) {
    .container{
        flex-direction: column;
    }

    .container div {
        width: 80%;
    }

    section.section-one {
        padding: 0;
    }

    section.section-two {
        padding-top: 5px;
    }

    .section-two .container div.section-nuvem {
        margin-top: 50px;
    }

    p.mangekyou-sharingan {
        text-align: left;
    }
}